<!DOCTYPE html>
<html lang="[[ locale ]]">
<head>
    <title>[[ title ]]</title>
    <meta name="description" content="[[ $forumDescription ]]">
    <meta name="keywords" content="[[ keywords ]], tormater-forum, forum">
    <meta property="og:image" content="[[ favicon_png ]]"/>
    
    <link rel="stylesheet" href="[[ stylesheet ]]" type="text/css">
    <link rel="shortcut icon" sizes="16x16" type="image/x-icon" href="[[ favicon ]]">
    <link rel="icon" type="image/png" sizes="256x256" href="[[ favicon_png ]]">
    <link rel="icon" type="image/svg+xml" href="[[ favicon_svg ]]">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="[[ locale ]]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    
    <script type='text/javascript' src='[[ search ]]'></script>
    <script type='text/javascript'>
       var baseURL = "[[ $baseURL ]]"; 
    </script>
    
    [[ color ]]
    [[ meta ]]
</head>
<body>
  <div class="tormater-forum">
    <div id="forumheader">
      [[ header ]]
      <div id="userbar">[[ welcome ]]</div>
    </div>
    <div id="menu">[[ pages ]]</div>
    <div id="pageBar">
        <div class="pagination left">[[ navigation ]]
        </div>
        <div class="searcharea">
            <input type="text" id="searchbox" autocomplete="off" placeholder="[[ searchPlaceholder ]]" value="[[ searchText ]]"><span class="searchbutton" onclick="search()">[[ searchButton ]]</span>
        </div>
    </div>
    
    <div id="content">
