<!DOCTYPE html>
<html lang="[[ locale ]]">
<head>
    <script type='text/javascript' src='[[ search ]]'></script>
    <title>[[ title ]]</title>
    <link rel="stylesheet" href="[[ stylesheet ]]" type="text/css">
    <link rel="shortcut icon" sizes="16x16" type="image/x-icon" href="[[ favicon ]]">
    </head>
<body>
  <div class="tormater-forum">
    <div id="forumheader">
      <a class="forumtitle" href="[[ homeURL ]]">[[ title ]]</a>
      <div id="userbar">[[ welcome ]]</div>
    </div>
    <div id="menu">[[ pages ]]</div>
    
    <div class="pagination left">
    </div>
    
    <div id="content">
