<form method="post" action="">
<div class="forminput"></div>
[[ bbcodebar ]]
<div class="forminput"><textarea maxlength="[[ maxlength ]]" name="content" id="textbox1">[[ content ]]</textarea></div>
<div id="previewbox1" class="previewbox" style="display:none"></div>
<div class="forminput left"><input type="submit" class="buttonbig" name="postReply" value="[[ reply_label ]]">
<input type="button" class="buttonbig previewbutton" id="showpreview1" value="[[ preview_show_label ]]" onclick="previewPost(1, 1);">
<input type="button" class="buttonbig previewbutton" id="hidepreview1" value="[[ preview_hide_label ]]" onclick="previewPost(1, 0);" style="display:none">
</div><div class="draftbuttons"><input type="submit" class="buttonbig" name="saveDraft" value="[[ save_draft_label ]]">
[[ discard ]]
</div></form>
