@import url("../Skyline/style.css");

/* Base Styles. */

* {
    font-family: Arial, sans-serif;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-radius: 0px!important;
}

::selection {
  color: #fff;
  background: #3eaeff;
  text-shadow:none;
}

a {
    color: #0058bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}

h3 {
    margin: 0;
    padding: 0;
    font-size:130%;
    color: #000;
}

h2 {
    margin: 20px 0;
    margin-top: 10px;
    word-wrap: break-word;
    color: #000;
    font-weight:normal;
}
h2 .modtools {
    font-size:70%;
    color: #000;
}

/* Page Styles */

body {
    background-color: #fff;
    font-size: 75%;
    margin: 0;
    color: #333333;
}

.tormater-forum {
    background-color: #fff;
    border: 0px;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

#forumheader {
    display: block;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(rgb(68, 68, 68), #000);
    border: 0px;
    border-top: #000 1px solid;
    color: #fff;
    box-shadow: none;
    margin: 0px;
}
#userbar {
    background: unset;
}
#userbar #Administrator, #userbar #Moderator, #userbar #Suspended, #userbar a {
    filter: brightness(250%);
}
#userbar #Member {
    color: #fff;
}
.forumLogo {
    max-height: 100%;
}
.forumtitle {
    color: #fff;
    font-size:150%;
    font-weight:bold;
    display: inline-block;
    text-shadow: none;
}

.forumtitle:hover {
    text-decoration: none;
}

#content {
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    border: 0px;
    float: unset;
}


#menu {
    float: left;
    clear: both;
    width: 100%;
    padding: 7px 24px;
    box-sizing: border-box;
    background: #313538;
    border-bottom: 1px solid #1d1d1d;
    text-align: left;
    font-size: 110%;
}

.item {
    color:#fff;
    margin: 0 8px;
    display:inline-block;
    text-shadow: 0 1px #3e454b;
    font-weight: bold;
    border-radius:2px;
}
#pageBar {
    padding: 12px 24px;
}

/* Category Styles */

.categorytitle {
    display: block;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
    color: #000;
    font-weight:normal;
}
.categorydesc {
    display:block;
    margin-bottom: 20px;
    font-size: 95%;
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin-bottom: 10px;
}
th {
    padding: 4px 10px;
    background: linear-gradient(#464646, #222222);
    border-bottom: 1px solid #000000;
    box-shadow: unset;
    color: #fff;
}
.postquote {
    border-left: 5px groove #000000; 
    background-color: rgba(0,0,0,.05);
    padding: 8px 15px;
    margin: 0px;
}

/* RWD */

@media (max-width: 800px) {

    .tormater-forum {
        margin-top: 0px;
    }
}
