<h2>[[ title ]]</h2>
<form action="" method="get">
<div class="forminput"><label class="label">[[ title_label ]]</label><input type="text" name="search" value="[[ searchText ]]"></div>
<div class="forminput">
<label class="label">[[ author_label ]]</label><input placeholder="[[ user_placeholder ]]" type="text" name="author" value="[[ authorText ]]"><!--
--><label class="label_multiline">[[ category_label ]]</label><select name="category">[[ categoryOptions ]]</select></div>
<div class="forminput">
<label class="label">[[ user_label ]]</label><input placeholder="[[ user_placeholder ]]" type="text" name="user" value="[[ userText ]]"> <input type="submit" value="[[ submit ]]">
</div>
</form>
[[ table ]]
