/* Main styles. */
body {
    background: #00adad;
    font-size: 95%;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

::selection {
  color: #fff;
  background: #3eaeff;
  text-shadow:none;
}

a {
    color: #0058bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    margin: 0 auto;
    max-width: 900px;
    box-sizing: border-box;
}

#forumheader {
    display:block;
    padding: 18px;
    background: linear-gradient(#5dbcff, #0292fc);
    box-shadow: 0px 1px inset #8adef9;
    border: 1px solid #1f4f83;
    border-radius: 8px;
    text-shadow: 0px 2px #1f4f83;
    color: #fff;
    margin:10px 0;
}

.forumtitle {
    font-size:200%;
    font-weight:bold;
}

#content {
    float: left;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #585858;
    border-top: none;
    text-align: left;
}


#menu {
    float: left;
    clear: both;
    width: 100%;
    height: 37px;
    padding: 0 30px;
    padding-top: 10px;
    padding-bottom: 1px;
    box-sizing: border-box;
    background: linear-gradient(#5dbcff, #0292fc);
    box-shadow: 0px 1px inset #8adef9;
    border: 1px solid #1f4f83;
    text-align: left;
    font-size: 85%;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
}

#userbar {
    float: right;
    margin: -4px;
    padding: 4px 8px 4px 60px;
    background: linear-gradient(to left, rgba(255, 255, 255, .6) 40%, rgba(255, 255, 255, 0));
    border-radius: 0 4px 4px 0;
}

#footer {
    clear: both;
    padding: 14px;
    background: #fff;
    border: 1px solid #585858;
    border-top: none;
    font-size: 80%;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}

button {
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    border-radius: 3px;
    font-family: Arial, sans-serif;
}

button:hover {
    filter: brightness(110%);
    text-decoration: none;
}

button:active {
    filter: brightness(80%);
}

label {
    display: inline-block;
    width: 30%;
}

.forminput {
    margin-bottom: 4px;
}

input {
    padding: 2px 4px;
    background: linear-gradient(#fff, #d4d4d4);
    border: 1px solid #808080;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

input:hover {
    filter: brightness(105%);
}

input:focus {
    background: #fff;
    border: #0000ff 1px solid;
    outline: #9c9cff 1px solid;
}

select {
    padding: 2px 4px;
    background: linear-gradient(#fff, #d4d4d4);
    border: 1px solid #808080;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

select:hover {
    filter: brightness(105%);
}

.message {
    margin: 14px 0;
    padding: 6px;
    padding-left: 10px;
    font-size: 95%;
    background: linear-gradient(#e9e9e9, #dfdfdf);
    box-shadow: 0px 1px inset #fff;
    border: 1px solid rgb(173, 173, 173);
    border-left-width:3px;
}


/* Pagination styles. */
.pagination {
    margin: 10px 0;
    line-height: 200%;
}
.pagination a,
.pagination span {
    margin-right: 4px;
}

/* Table styles. */
table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #1f4f83;
}

table a {
    color: #000;
}

table a:hover {
    color: #373737;
    text-decoration: none;
}

th {
    padding: 4px 10px;
    background: linear-gradient(#56abf0, #265e9b);
    box-shadow: 0px 1px inset #8adef9;
    border-bottom: 1px solid #1f4f83;
    color: #fff;
    font-size: 85%;
    text-shadow: 0px -1px #0f5aa9;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #e3efff;
}

td {
    padding: 8px 10px;
    vertical-align: middle;
    border: 1px solid #a1a1a1;
}

.tddate, .postdate {
    font-size: 85%;
    color: rgba(0, 0, 0, .6);
}

/* Font styles. */
h1 {
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}

h3 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 20px 0;
    margin-top: 10px;
    padding: 15px;
    background: linear-gradient(to right, #92d2ff, #92d2ff00);
    border-left: 2px solid #4bb4ff;
    word-wrap: break-word;
}
h2 .modtools {
    font-size:70%;
}

/* Menu styles. */
.item,
.threadbutton {
    padding: 3px 6px;
    background: linear-gradient(#56abf0, #265e9b);
    box-shadow: 0px 1px inset #8adef9;
    border: 1px solid #1f4f83;
    border-radius: 4px;
    color: #fff;
    font-size: 95%;
    text-decoration: none;
    text-shadow: 0px -1px #0f5aa9;
}

.item:hover,
.threadbutton:hover {
    filter: brightness(120%);
    text-decoration: none;
    cursor: pointer;
}

.item:active,
.threadbutton:active {
    filter: brightness(70%);
    cursor: pointer;
}

.modtools {
    text-align: right;
    display:inline-block;
    float:right;
}

.modtools form {
    display: inline;
}

.modtools form .threadbutton {
    margin-right: 4px;
}

.category {
    margin-bottom: 14px;
    padding: 12px;
    background: linear-gradient(#e9e9e9, #dfdfdf);
    box-shadow: 0px 1px inset #fff;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 8px;
    text-shadow: 0px 1px #fff;
}

.leftpart {
    width: 60%;
}

.rightpart {
    width: 40%;
}

.small {
    font-size: 75%;
    color: #373737;
}

.topic-post {
    height: 100px;
    overflow: auto;
}

.post-content {
    padding: 30px;
}

textarea {
    margin-bottom: 4px;
    padding: 8px 12px;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #808080;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 100%;
    resize: none;
}

textarea:focus {
    border: 1px solid #0000ff;
    outline: 1px solid #9c9cff;
}

/* Thread styles. */
.thread,
.usertop {
    padding: 8px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0px 1px inset rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
}

.threadcontent,
.userbottom {
    float: right;
    margin: 0;
    padding: 8px;
    background: #F6F6F6;
    box-sizing: border-box;
    box-shadow: 0px 1px inset #fff;
    border: 1px solid #adadad;
    border-left: none;
    border-radius: 0 8px 8px 0;
    word-wrap: break-word;
}

.thread b {
    display: block;
}

.postc {
    display: inline-block;
    margin-right: 2px;
    margin-top: 4px;
}

.rpostc {
    float: right;
    margin: 0px;
}

.hiddenpost {
    margin-bottom: 14px;
    padding: 8px;
    max-width: 1000px;
    background: linear-gradient(#e9e9e9, #d8d8d8);
    box-shadow: 0px 1px inset #fff;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 6px;
}

.locked {
    display: inline-block;
    margin: 4px 0px;
    margin-left: 8px;
    padding: 2px 6px;
    background: linear-gradient(#acacac, #525252);
    box-shadow: 0px 1px inset #bdbdbd;
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0px -1px #4d4d4d;
}

.sticky {
    display: inline-block;
    margin: 4px 0px;
    margin-left: 8px;
    padding: 2px 6px;
    background: linear-gradient(#ff9e0c, #ca7900);
    box-shadow: 0px 1px inset #ffcf4c;
    border: 1px solid #472e00;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0px -1px #ad6800;
}

.postdate a {
    color: #000;
}

.post {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 0px;
    margin-bottom: 14px;
}

/* Post colors. */
[postcolor="1"] {
    background: lightblue;
}

[postcolor="2"] {
    background: lightgreen;
}

[postcolor="3"] {
    background: yellow;
}

[postcolor="4"] {
    background: indianred;
}

[postcolor="5"] {
    background: hotpink;
}

[postcolor="6"] {
    background: mediumpurple;
}

[postcolor="7"] {
    background: coral;
}

[postcolor="8"] {
    background: cornflowerblue;
}

[postcolor="9"] {
    background: lavender;
}

[postcolor="10"] {
    background: silver;
}

[postcolor="11"] {
    background: wheat;
}

[postcolor="12"] {
    background: sandybrown;
}

[postcolor="13"] {
    background: mediumseagreen;
}

[postcolor="14"] {
    background: gold;
}

[postcolor="15"] {
    background: plum;
}

[postcolor="16"] {
    background: aliceblue;
}

/* Fieldsets */
fieldset {
    padding: 15px;
    border: 1px solid #999;
}

legend {
    font-size: 18px;
    font-weight: bold;
}

/* Userlist Styles. */
.userlist-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}
.userlist {
    margin-right: 20px;
    margin-bottom: 20px;
}
.userlist-top {
    padding: 5px;
    box-shadow: 0px 1px inset rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.userlist-bottom {
    padding: 5px;
    background: #F6F6F6;
    box-sizing: border-box;
    box-shadow: 0px 1px inset #fff;
    border: 1px solid #adadad;
    border-top: none;
}

/* User Styles. */
.userstat {
    display: block;
    padding: 3px 8px;
}

.userrole {
    padding: 0px;
}

.changerole {
    display: inline-block;
}

.userrole a {
    color: #000;
}

.userstat a {
    color: #000;
}

.date {
    color: #000;
}

/* Role Colors */
#Administrator {
    color: #6d0000;
    text-decoration: none;
}

#Moderator {
    color: #07006d;
    text-decoration: none;
}

#Member {
    color: #000;
    text-decoration: none;
}

#Suspended {
    color: #666;
    text-decoration: none
}

/* Buttons */
.button {
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(110%);
    text-decoration: none;
}

.button:active {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttoninput {
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.buttoninput:hover {
    filter: brightness(110%);
    text-decoration: underline;
}

.buttoninput:active {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttoninput:focus {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttonrole {
    margin-top: 2px;
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    border-radius: 3px;
    font-size: 14px;
}

.buttonrole:hover {
    filter: brightness(110%);
    text-decoration: none;
}

.buttonrole:active {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttonrole:focus {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttonbig {
    /* display: inline-block; */
    padding: 5px 10px;
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    border-radius: 3px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}

.buttonbig:hover {
    filter: brightness(110%);
    text-decoration: none;
}

.buttonbig:active {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttonbig:focus {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttondisabled {
    padding: 5px 10px;
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    border-radius: 3px;
    color: #808080;
    font-size: 15px;
    cursor: default;
}

.buttonNo {
    color:#b90000;
    transition: 50ms cubic-bezier(0.50, 1, 0.50, 1);
    transition-property: background-color,border-color;
}

.buttonNo:hover, .buttonNo:active {
    background:#b40000;
    border-color:rgb(105, 0, 0);
    color:#fff;
}

/* Posts */
.editbox {
    padding-left:5px
}
.postc button {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.postc button:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
}

.postimg {
    box-sizing: border-box;
    width: 100%;
    border: 1px outset #000;
}

.postspoiler {
    display: inline-block;
    margin: 3px 0px;
    padding: 5px 10px;
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    border-radius: 3px;
}

.postspoiler[open] {
    background: #f0f0f0;
    display: inline-block;
}

.postcode {
    display: inline-block;
    padding: 5px 10px;
    background: #e6e6e6;
    border: 1px solid #808080;
    border-radius: 3px;
    font-size: 14px;
}

.postpre {
    display: inline;
    font-size: 15px;
}

.postheader {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 25px;
    font-weight: bold;
}

.postsubheader {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
}

/* Settings/Admin panel */
.formcontainer {
    padding: 8px;
}

.formcontainer input {
    margin: 2px 0px;
}

.formcontainer .fieldhint {
    display: inline-block;
    margin-bottom: 4px;
}

.settingscolor {
    display: inline-block;
    margin: 1px;
    padding: 20px;
    box-shadow: 0px 1px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.settingscolor:hover {
    filter: brightness(110%);
}

.userscolor {
    border-style: solid;
    border-width: 3px;
    margin: -1px 1px;
}


/* Mobile Support (thanks VegBao!)*/
@media (max-width: 800px) {

    /* Menu */
    #menu {
        height: auto;
        padding: 10px;
    }

    #menu .item {
        display: inline-block;
        margin-bottom: 4px;
    }

    #menu #userbar {
        float: none;
        text-align: right;
        margin: 4px 0;
    }

    /* Content */
    #content {
        padding: 14px;
    }
    #content table th:nth-child(n+3),
    #content table td:nth-child(n+3) {
        display: none;
    }

    .leftpart {
        width: 80%;
    }

    /* Post */
    .post {
        display: block;
    }

    .thread,
    .usertop {
        width: 100%;
    }

    .thread b {
        display: inline-block
    }

    .thread .postdate,
    .usertop .postdate {
        float: right;
    }

    .threadcontent,
    .userbottom {
        float: none;
        display: block;
        width: 100%;
        border-left: 1px solid #bbb;
        border-top: none;
        border-radius: 0 0 0 6px;
    }

    .rpostc {
        text-align: right;
        float: none;
        margin: 0px;
        margin-top: 4px;
    }
    /* Userlist */
    .userlist-grid {
    display: block;
}
}
