/* Main styles. */
html {background-color:#00adad; font-size:95%}
body {text-align: center;}
a {color:rgb(0, 17, 255); text-decoration:none}
a:hover {text-decoration:underline}
#wrapper {max-width: 900px; margin: 0 auto; box-sizing: border-box}
#content {background-color: #fff; border: 1px solid rgb(88, 88, 88); border-top: none; float: left; font-family: Arial, Helvetica, sans-serif; padding: 20px 30px; text-align: left; width: 100%; box-sizing: border-box;}
#menu {float: left; clear: both; height:37px; padding: 0 30px; padding-top: 10px; padding-bottom: 1px; background: linear-gradient(#5dbcff, #0292fc); box-shadow:#8adef9 0px 1px inset; border: 1px solid #1f4f83; text-align: left; font-size: 85%; box-sizing: border-box; width:100%}
#userbar {background: linear-gradient(to left, #ffffffa0, #ffffff00); margin: -3px; padding: 3px; padding-left:30px; float:right}
#footer {font-size: 80%; clear: both; border: 1px solid rgb(88, 88, 88); border-top:none; background: white; padding: 5px; font-family:Helvetica, Arial, sans-serif}
button {background: linear-gradient(#fff, lightgray); border: 1px solid gray; border-radius: 3px; font-family: Arial, Helvetica, sans-serif}
button:hover {filter: brightness(110%);}
button:active {filter: brightness(80%);}
label {display:inline-block; width:200px;}
input {background: linear-gradient(#fff,rgb(212, 212, 212)); border: 1px solid gray; border-radius: 3px; font-family: Arial, Helvetica, sans-serif}
input:hover {filter: brightness(105%);}
input:focus {background:#fff; border:blue 1px solid; outline: rgb(156, 156, 255) 1px solid}
select {background: linear-gradient(#fff,rgb(212, 212, 212)); border: 1px solid gray; border-radius: 3px; font-family: Arial, Helvetica, sans-serif}
select:hover {filter: brightness(105%);}
.message {border-left: 4px solid rgb(161, 161, 161); background: lightgray; padding: 5px; padding-left:10px}


/* Pagination styles. */
.pagination {line-height: 200%; margin-bottom:5px; margin-top:5px}

/* Table styles. */
table {border-collapse: collapse;  border: 1px solid #1f4f83; box-sizing: border-box; width:100%}
table a {color: #000;}
table a:hover {color:#373737; text-decoration: none;}
th {background: linear-gradient(#56abf0, #265e9b); box-shadow:#8adef9 0px 1px inset; border-bottom: 1px solid #1f4f83; text-shadow:#0f5aa9 0px -1px; color: #FFF; padding-left: 4px; padding-top:2px}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #e3efff}
td {padding: 8px; border: 1px solid rgb(161, 161, 161); vertical-align:middle}

/* Font styles. */
h1 {font-family: Arial, Helvetica, sans-serif; color: #fff; text-shadow:#000 0px 0px 10px}
h3 {margin: 0; padding: 0;}
h2 {background:linear-gradient(to right, #92d2ff, #92d2ff00); border-left:#4bb4ff 2px solid; padding:15px;}

/* Menu styles. */
.item, .threadbutton {background: linear-gradient(#56abf0, #265e9b); box-shadow:#8adef9 0px 1px inset; border: 1px solid #1f4f83; border-radius: 4px; color: #FFF; text-shadow:#0f5aa9 0px -1px; font-family: Arial, Helvetica, sans-serif; padding: 3px 6px; text-decoration: none; font-size: 95%}
.item:hover, .threadbutton:hover {filter: brightness(120%);}
.item:active, .threadbutton:active {filter: brightness(70%);}
.threadbutton {float:right; margin:2px; margin-top:-4px}
.category {box-shadow:#ffffff 0px 1px inset; border:1px solid rgb(173, 173, 173); background:linear-gradient(rgb(233, 233, 233),rgb(223, 223, 223)); padding: 12px; text-shadow:#fff 0px 1px; border-radius:8px}
.leftpart {width: 60%;}
.rightpart {width: 40%;}
.small {font-size: 75%; color: #373737;}
.topic-post {height: 100px; overflow: auto;}
.post-content {padding: 30px;}
textarea {border:1px gray solid; border-radius:3px; resize: none; height: 200px; width:100%; box-sizing: border-box; margin-bottom:4px}
textarea:focus {border:blue 1px solid; outline: rgb(156, 156, 255) 1px solid}

/* Thread styles. */
.thread, .usertop {box-shadow:#ffffff8f 0px 1px inset; display:inline-block; box-sizing: border-box; border:1px solid rgba(0, 0, 0, 0.356); padding: 8px; position: relative}
.threadcontent, .userbottom {border:1px solid rgb(173, 173, 173); box-shadow:#ffffff 0px 1px inset; border-left:none; padding: 8px; box-sizing: border-box; background-color: #F6F6F6; word-wrap: break-word; margin: 0; float:right; border-top-right-radius:8px; border-bottom-right-radius:8px}
.thread b {display:block}
.postc {display: inline-block; margin-right: 2px; margin-top:4px}
.rpostc {float:right; margin: 0px}
.hiddenpost {border-radius: 6px; max-width:1000px; border:1px solid black; padding: 8px; background: rgb(199, 199, 199); margin-bottom:5px}
.locked {background: linear-gradient(rgb(172, 172, 172), rgb(82, 82, 82)); border: 1px solid rgb(0, 0, 0); text-shadow:rgb(77, 77, 77) 0px -1px; box-shadow:rgb(189, 189, 189) 0px 1px inset; border-radius: 4px; padding: 2px 6px; display:inline-block; color:#fff; margin:4px 0px; margin-left:8px}
.sticky {background: linear-gradient(rgb(255, 158, 12), rgb(202, 121, 0)); border: 1px solid rgb(71, 46, 0); text-shadow:rgb(173, 104, 0) 0px -1px; box-shadow:rgb(255, 207, 76) 0px 1px inset; border-radius: 4px; padding: 2px 6px; display:inline-block; color:#fff; margin:4px 0px; margin-left:8px}
.postdate a {color:#000}
.post {display: grid; grid-template-columns: 18% 82%; grid-gap: 0px; margin-bottom:5px}

/* Post colors. */
[postcolor="1"] {background: lightblue;}
[postcolor="2"] {background: lightgreen;}
[postcolor="3"] {background: yellow;}
[postcolor="4"] {background: indianred;}
[postcolor="5"] {background: hotpink;}
[postcolor="6"] {background: mediumpurple;}
[postcolor="7"] {background: coral;}
[postcolor="8"] {background: cornflowerblue;}
[postcolor="9"] {background: lavender;}
[postcolor="10"] {background: silver;}
[postcolor="11"] {background: wheat;}
[postcolor="12"] {background: sandybrown;}
[postcolor="13"] {background: mediumseagreen;}
[postcolor="14"] {background: gold;}
[postcolor="15"] {background: plum;}
[postcolor="16"] {background: aliceblue;}

/* Fieldsets */
fieldset {border: 1px solid #999; padding:15px}
legend {font-size:18px; font-weight: bold}

/* Userlist Styles. */
.userlist {border:1px solid rgba(0, 0, 0, 0.493); padding:5px;}

/* User Styles. */
.userstat {display:block; padding:3px 8px}
.userrole {padding: 0px}
.changerole {display: inline-block;}
.userrole a {color:#000}
.userstat a {color:#000}
.date {color:#000}

/* Role Colors */
#Administrator {color:#6d0000; text-decoration:none}
#Moderator {color:#07006d; text-decoration:none}
#Member {color:#000000; text-decoration:none}
#Suspended {color:#666666; text-decoration:none}

/* Buttons */
.button {background: linear-gradient(#fff, lightgray); border: 1px solid gray; border-radius: 3px; cursor:pointer}
.button:hover {filter: brightness(110%); text-decoration:underline}
.button:active {filter: brightness(80%); outline:none; border: 1px solid gray}
.buttoninput {background: linear-gradient(#fff, lightgray); border: 1px solid gray; border-radius: 3px; font-size:14px; cursor:pointer}
.buttoninput:hover {filter: brightness(110%); text-decoration:underline}
.buttoninput:active {filter: brightness(80%); outline:none; border: 1px solid gray}
.buttoninput:focus {filter: brightness(80%); outline:none; border: 1px solid gray}
.buttonrole {background: linear-gradient(#fff, lightgray); border: 1px solid gray; border-radius: 3px; font-size:14px; margin-top:2px}
.buttonrole:hover {filter: brightness(110%); text-decoration:underline}
.buttonrole:active {filter: brightness(80%); outline:none; border: 1px solid gray}
.buttonrole:focus {filter: brightness(80%); outline:none; border: 1px solid gray}
.buttonbig {color:#000; background: linear-gradient(#fff, lightgray); border: 1px solid gray; border-radius: 3px; font-size:15px; padding:5px 10px; cursor:pointer}
.buttonbig:hover {filter: brightness(110%); text-decoration:underline}
.buttonbig:active {filter: brightness(80%); outline:none; border: 1px solid gray}
.buttonbig:focus {filter: brightness(80%); outline:none; border: 1px solid gray}
.buttondisabled {color:gray; background: linear-gradient(#fff, lightgray); border: 1px solid gray; border-radius: 3px; font-size:15px; padding:5px 10px; cursor:default}

/* Posts */
.postc button {background: linear-gradient(rgba(255, 255, 255, 0.452), rgba(255, 255, 255, 0.493)); border:1px solid rgba(0, 0, 0, 0.658)}
.postc button:hover {background: linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 255, 255, 0.596));}
.postimg {box-sizing: border-box; width:100%; border: 1px outset #000}
.postspoiler {margin: 3px 0px; display:inline-block; background: linear-gradient(#fff, lightgray); border: 1px solid gray; border-radius: 3px; padding: 5px 10px}
.postspoiler[open] {background:rgb(240, 240, 240); display:inline-block}
.postcode {background: rgb(230, 230, 230); border: 1px solid gray; border-radius: 3px; font-size:14px; padding:5px 10px; display: inline-block;}
.postpre {font-size:15px; display:inline}

/* Settings/Admin panel */
.formcontainer {padding:8px}
.formcontainer input {margin:2px 0px}
.formcontainer .fieldhint {margin-bottom:4px; display:inline-block}


/* Mobile Support (thanks VegBao!)*/
@media (max-width: 800px) {

/* Menu */
#menu {
height: auto;
padding: 10px;
}
#menu .item {
display: inline-block;
margin-bottom: 4px;
}
#menu #userbar {
float: none;
text-align: right;
margin: 4px 0;
}

/* Content */
#content table th:nth-child(n+3),
#content table td:nth-child(n+3) {
display: none;
}
.leftpart {
width: 80%;
}

/* Post */
.post {
display: block;
}
.thread, .usertop {
width: 100%;
}
.thread b {display:inline-block}
.thread .postdate, .usertop .postdate {
float: right;
}
.threadcontent, .userbottom {
display: block;
width: 100%;
float: none;
border-left: 1px solid #bbb;
border-top: none;
border-top-right-radius: 0px;
border-bottom-left-radius: 6px;
}
} 
