* {
    font-family: Arial, sans-serif;
}
body {
    background: #e6e6e6;
    font-size: 75%;
    margin: 0;
    color: #333333;
    max-width: 600px;
    margin: 10px auto;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#titlebar {
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
    background-image: linear-gradient(#ffffffad 0%, #ffffff20 50%, #0001 50%, #fff3 100%);
    border: #000 1px solid;
    text-shadow: #000 0px 1px;
    color: #fff;
    font-size: 175%;
}
#content {
    padding: 15px 25px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 1px 2px #0000001c;
}


.field {
    display: grid;
    grid-template-columns: auto 40%;
}

label {
    color: #000;
    display:inline-block;
}

input {
    display:inline-block;
    padding: 2px 4px;
    background: linear-gradient(#fff, #d4d4d4);
    border: 1px solid #808080;
    border-radius: 3px;
    font-size: 100%;
    margin: 2px 0px;
}

input:hover {
    filter: brightness(105%);
}

input:focus {
    background: #fff;
    border: #0292fc 1px solid;
    box-shadow: 0px 0px 3px #5dbcff;
    outline: none;
}

h3 {
    color: #000;
    display:inline-block;
}
h1 {
    color: #000;
}

.buttonbig {
    padding: 5px 10px;
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    border-radius: 3px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}

.buttonbig:hover {
    filter: brightness(110%);
    text-decoration: none;
}

.buttonbig:active {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

.buttonbig:focus {
    filter: brightness(80%);
    outline: none;
    border: 1px solid #808080;
}

hr {
    margin: 16px 0px;
    height: 1px;
    border-width: 0;
    background-color: rgb(199, 199, 199);
}

.message {
    padding: 8px 12px;
    background: linear-gradient(#4a5269, #656c81);
    box-shadow: 0px 1px inset #727b97;
    text-shadow: 0 1px #3a3f4e;
    border: 1px solid #3a4050;
    color: #fff;
}

.message a {
    color: #7cb7fc;
    text-decoration: none;
}
