<h2>[[ header ]]</h2>
[[ error ]]
<div class='formcontainer'><form method='post' action=''>
<div class='forminput'><label><abbr title='[[ username_desc ]]'>[[ username_label ]]</abbr></label><input type='text' name='user_name' autocomplete='username' maxlength='[[ username_maxlength ]]' value='[[ username ]]'></div>
<div class='forminput'><label><abbr title='[[ email_desc ]]'>[[ email_label ]]</abbr></label><input type='email' name='user_email' maxlength='254' value='[[ email ]]'></div>
<div class='forminput'><label><abbr title='[[ password_desc ]]'>[[ password_label ]]</abbr></label><input type='password' name='user_pass' value='[[ password ]]'></div>
<div class='forminput'><label>[[ confirm_password_label ]] </label><input type='password' name='user_pass_check' value='[[ confirm_password ]]'></div>
[[ captcha ]]<div class='forminput'><label></label><input type='submit' class='buttonbig' value='[[ submit ]]'></div>
</form></div>
